# FILES
*.VC.db
*.VC.opendb
*.sdf
*.pdb
*.dll
*.exe
*.ilk
*.lib
*.opensdf
*.idb
*.suo
*.dylib
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.txt

pch_OLD.cpp

#Folders
Debug/
glm/
Release/
x64/
.vs/